{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="navbar container">
            <h2>User Management</h2>
            <ul class="navlink">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>
                    <a href="{% url 'users' %}">Users</a>
                </li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock content %}

    <footer class="footer-section">
        <div class="footer-container container">
            <h2 class="section-title">User Management</h2>
            <div class="sub-section">
                <div>
                    <h3>About</h3>
                    <p>
                        User management is a crucial aspect of web application development, ensuring that users can
                        register, log in, and perform various actions based on their roles and permissions.
                    </p>
                </div>
                <div>
                    <h3>Services</h3>
                    <ul>
                        <li>Users List</li>
                        <li>Subscribers</li>
                        <li>Dynamic Content</li>
                    </ul>
                </div>
                <div class="newsletter-container">
                    <h3>Newletter</h3>
                    <input type="email" placeholder="Enter Your Email">
                    <button class="newsletter-btn">Subscribe</button>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>