{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="container">
    <div class="banner-container">
        <div class="banner-text-container">
            <h1 class="banner-heading">Wellcome Mates</h1>
            <p class="banner-text">Empowering your web experience with dynamic content, user-friendly interfaces, and
                seamless user management using Django and HTML, CSS.</p>
            <button class="primary-btn">Explore more</button>
        </div>
        <div class="banner-image-container">
            <img src="{% static '/images/banner.jpg' %}" alt="">
        </div>
    </div>
</section>
<section class="container display">
    <div class="dynamic-content-container">
        <h2>Dynamic Content</h2>
        <p>Today: {{ current_datetime }}</p>
        <p>Quote: "{{ random_quote }}" - {{ quote_author }}</p>
    </div>
</section>
<section class="container" id="contact">
    <div class="contact">
        <h2>Contact us</h2>
        <div class="form-container">
            <div class="left"></div>
            <form method="post" action="{% url 'home' %}" class="right">
                {% csrf_token %}
                <div class="form-input">
                    <label for="{{ form.name.id_for_label }}">Name</label>
                    {{ form.name }}
                </div>
                <div class="form-input">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-input">
                    <label for="{{ form.phone.id_for_label }}">Phone</label>
                    {{ form.phone }}
                </div>
                <div class="form-input">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}