{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="user-heading">Users</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A</td>
                <td>A@gmail.com</td>
                <td>+880-1610945101</td>
            </tr>
            <tr>
                <td>A</td>
                <td>A@gmail.com</td>
                <td>+880-1610945101</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}