{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container user-table">
    <h2 class="user-heading">Users</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}